<div style="margin-top: 10px;">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <button type="button" style="margin-left: 5px; cursor: pointer;" aria-label="Close"
          (click)="activeModal.close('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="col-sm">
        <h4 class="modal-title" style="text-align: center;">Sign Up </h4>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
</div>
<div class="modal-body">
  <div class="container signup-container">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 signup-form-2">
        <h4 style="font-weight: bold;">Enter Your Details:</h4>
        <form [formGroup]="signupForm" #ngForm="ngForm" class="form-group" (ngSubmit)="SignUp()">
          <div>
            <div class="form-group">
              <label for="name">Full Name:</label>
              <input type="text" [(ngModel)]="Name" id="name" formControlName="name" class="form-control"
                placeholder="Name" />
            </div>
            <div *ngIf="ngForm.submitted && signupForm.controls.name.errors && signupForm.controls.name.errors.required"
              class="alert alert-danger" role="alert">
              Name is required
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="startTraining">Start Training:</label>
              <input type="date" [(ngModel)]="StartTraining" id="startTraining" formControlName="startDate"
                class="form-control" placeholder="Start Training" />
            </div>
            <div
              *ngIf="ngForm.submitted && signupForm.controls.startDate.errors && signupForm.controls.startDate.errors.required"
              class="alert alert-danger" role="alert">
              Start Training is required
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" [(ngModel)]="Email" id="email" formControlName="email" class="form-control"
                placeholder="Email" />
            </div>
            <div
              *ngIf="ngForm.submitted && signupForm.controls.email.errors && signupForm.controls.email.errors.required"
              class="alert alert-danger" role="alert">
              Email is required
            </div>
            <div *ngIf="ngForm.submitted && signupForm.controls.email.errors && signupForm.controls.email.errors.email"
              class="alert alert-danger" role="alert">
              Email is not valid
            </div>
          </div>

          <div>
            <div class="form-group">
              <label for="password">Password: <i style="cursor: pointer;" class="fa fa-info-circle" aria-hidden="true" title="At least 8 characters. Must include at least 1 digit, 1 Capital letter and 1 special character">

              </i>
              </label>
              <input type="password" [(ngModel)]="Password" id="password" formControlName="password"
                class="form-control" placeholder="Password" />
            </div>
            <div
              *ngIf="ngForm.submitted && signupForm.controls.password.errors && signupForm.controls.password.errors.required"
              class="alert alert-danger" role="alert">
              Password is required
            </div>
            <div *ngIf="signupForm.controls['password']?.touched && signupForm.controls.password.errors && signupForm.controls.password.value != ''"
              class="alert alert-danger" role="alert">
              <div *ngIf="signupForm.controls['password'].hasError('hasNumber')">
                * Password Must have at least 1 digit
              </div>
              <div *ngIf="signupForm.controls['password'].hasError('hasCapitalCase')">
                * Password Must have at least 1 capital letter
              </div>
              <div *ngIf="signupForm.controls['password'].hasError('hasSpecialCharacters')">
                * Password Must have at least 1 special character
              </div>
            </div>
          </div>
          <div>
            <div class="form-group">
              <label for="password">Confirm Password:</label>
              <input type="password" [(ngModel)]="ConfirmPassword" id="confirmPassword" formControlName="confirmPassword"
                class="form-control" placeholder="Confirm Password" />
            </div>
            <div
              *ngIf="ngForm.submitted && signupForm.get('confirmPassword').value != '' && signupForm.controls['confirmPassword'].hasError('NoPassswordMatch')"
              class="alert alert-danger" role="alert">
              Password do not match
            </div>
          </div>

          <div class="form-group" style="text-align:center;">
            <input type="submit" class="btnSubmit" value="Sign Up" />
          </div>
        </form>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
</div>
